@media (max-width:376px) {
  footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 15px;

  }
}

@media (max-width:376px) {
  div .red-social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .pie-pagina .grupo-1 .box h2 {
      font-size: 15px;

    }
  }
}

  @media (max-width:347px) {
    div .red-social {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width:291px) {
    div .red-social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width:239px) {
    div .red-social {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width:1400px)and(min-width:375){
  .container-3 {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(2,auto);
  }
}